@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @apply max-w-7xl w-full mx-auto px-5;
  }
}

@font-face {
  font-weight: 300;
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Light.ttf);
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  font-size: 80px;
  line-height: 80px;
}

.stopwatch-pointer {
  transform-origin: bottom center;
}

/* hour  */
.hour,
.minute,
.second {
  position: relative;
}

.hour::after,
.minute::after,
.second::after {
  position: absolute;
  width: 30px;
  right: -27px;
  bottom: 0;
  font-size: 35px;
  line-height: 47px;
}

.hour::after {
  content: "H";
}

.minute::after {
  content: "M";
}

.second::after {
  content: "S";
}

.m-second {
  font-size: 50px;
  line-height: 58px;
}

.li:not(:first-child) {
  border-bottom: 1px solid #cecece !important;
}

@media only screen and (max-width: 499px) {
  h2 {
    font-size: 60px;
    line-height: 60px;
  }

  .hour::after,
  .minute::after,
  .second::after {
    width: 23px;
    right: -23px;
    font-size: 28px;
    line-height: 39px;
  }

  .m-second {
    font-size: 42px;
    line-height: 45px;
  }
}

@media only screen and (max-width: 369px) {
  h2 {
    font-size: 48px;
    line-height: 48px;
  }

  .hour::after,
  .minute::after,
  .second::after {
    width: 17px;
    right: -16px;
    font-size: 22px;
    line-height: 29px;
  }

  .m-second {
    font-size: 36px;
    line-height: 37px;
  }
}
